
*{
    margin: 0px;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100vh;

}
/* navegador */
.header{
    width: 100%;
    height: 71px;
    display:flex;
    background: linear-gradient(to top, #000000, #434343); 
    
}
.h__a-img{
    border-radius: 50px;
    width: 30px;
    height: 30px;
    padding: 15px;
}
.h__h1{
    color:white;
    text-align:left;
    line-height: 20px;
    font-size: 24px;
    padding: 15px;
} 
.nav{
    height: 40px;
    padding: 15px;
    text-align: right;
}
.nav__ul{
    list-style-type: none;
    
}
ul li{
    display: inline-block;
    padding-right: 120px;

}
.nav__a{
    text-decoration: none;
    color:white;
    padding: 10px;
}
.nav__a:hover{
    color: white;
    background-color: red;
    border-radius: 50px;
    padding: 10px;
}
/* main general */
.main{
    background: linear-gradient(to bottom, #c9d6ff, #e2e2e2);
    width: 100%;
    display: flex;
}
/* main equipos */
.main-equipo{
    background-color: #282634;
    width: 100%;
    display: flex;
}
/* main de contacto */
.main-contacto{
    width: 100%;
    height: 674px;
    background: linear-gradient(to bottom, #4b79a1, #283e51);
    position: relative;
}
/* main de inicio */
.main-inicio{
    width: 100%;
    height: 674px;
    background: linear-gradient(to top, #e0eafc, #cfdef3);

}
/* video dentro de main */
.video{
    padding-left: 280px;
    padding-top: 60px;
    width: 60%;
    height: 80%;
}
/* main de nosotros */
.main-nosotros{
    width: 100%;
    height: 674px;
    background-color:#655DBB ;
    background: linear-gradient(to top, #efefbb, #d4d3dd);
}
/* section de nosotros */
.section-nos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section__img{
    width:800px;
    height: 500px;
    margin-left: 25px;
    margin-top: 80px;
    margin-right: 50px;
    border-radius: 10px;
}
.section__p{
    font-size: 30px;
    font-style:italic;

    color: rgb(17, 4, 4);
    margin-left: 25px;
    margin-top: 30px;
}
/* section eventos */
.section{
    justify-content: center;
    align-items: center;
    display: inline;
}
/* párrafo en general  */
.p, .p-1, .p-2, .p-3, .p-4, .p-5, .p-6, .p-7, .p-8, .p-9{
    padding: 10px;
    margin: 10px;
    background: linear-gradient(to top, #000000, #434343);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}
.section__div{
    padding-left: 0px;
}

/* div de equipos */

.div__equipo-1{
    display: flex;
}
.div__equipo-2{
    display: flex;
}
.div__equipo-3{
    display: flex;
}
.p-1{
    margin-top: 0px;
}
.p-2{
    
} 
/* card equipo */
.card{
    width: 100%;
    margin: 20px;
    border-radius: 10px;
    background: #ffffff;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 10px 0 rgb(136, 135, 135);
}
.card:hover {
    transform: translateY(-5%) ;
}
/* imagenes equipos */
.img__div{
    height:auto;
    max-width: 100%;
}
.img__div-luz{
    max-width: 100%;
    height: 360px;
}
.img__div-pantalla{
    max-width: 100%;
    height: 440px;
}
.section{
    color: white;
}
/* imagenes de eventos */

.img__cumple ,.img__aleyflor,.img__aleydai, .img__joseyanto, .img__egresado, .img__ceats{
    width: 300px;
    padding-right: 10px;
    padding-left: 20px;
}
.img__cumple-18{
    padding-right: 10px;
    width: 300px;
    height: 169px;
    padding-left: 20px;
}
.img__aleyflor-bodega{
    width: 300px;
    height: 400px;
    padding-right:10px ;
    padding-left: 20px;
}
.img__ceats-evento{
    width: 300px;
    height: 225px;
    padding-right:10px ;
    padding-left: 20px;
}

/* formulario contacto */
.form{
    background:#2b2727;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 7.5%;
    left: 20%;
    padding: 50px 55px;
    text-align: center;
    border-radius: 20px;
    width: 50%;
    
}
span {
    color: red;
}
.form__h1{
    color: rgb(255, 255, 255);
    font-size: 35px;

}
.form__input{
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 20px;
}
input, textarea{
    padding: 17px, 25px;
    border-radius: 20px;
    border: 2px solid, white;
    outline: none;
    margin-bottom: 10px;
    
}
label {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}
/* boton enviar formulario */
.form__enviar{
    margin-top: 20px;
    color: white;
    border-radius: 20px;
    height: 30px;
    font-size: 17px;
    border:0 ;
    background-color: rgb(177, 19, 19);
    cursor: pointer;
}
.form__enviar:hover{
    background-color: red;
}
/* footer */
.footer{
    width: 100%;
    height: 44px;
    bottom: 0%;
    background: linear-gradient(to top, #000000, #434343); 
}
/* div del footer */
.f__div{
    color: white;
}
.div__a{
    width: 30px;    
    height: 30px;

}
/* boton volver arriba */
.arriba{
    position:absolute;
    right: 0px;
}
/* quarie de tablet */
@media screen and (max-width:991px){

}
/* media quaries desktop firts */
/* seria para mobile esta parte */
@media screen and (max-width:576px){
    header{
        flex-wrap: wrap;

    }
}
