.main{
    background: $Egradient;
    @include sizes(100%, 100%);
    .section{
        @extend .gridcenter;
        grid-template-columns: 100%;
        .p{
            padding: 10px;
            margin: 10px;
            background: $HFgradient;
            border-radius: 20px;
            color: $Wcolor;
            font-size: 30px;
            text-align: center;
            align-items: center;
            justify-content: center;
            font-weight: 500;
        }
        .section__div{
            justify-self: center;
            .img__evento{
                width: 300px;
                padding-right: 10px;
                padding-left: 20px;
            }
            .img__cumple{
                @include sizes(300px,152px);
                padding-right: 10px;
                padding-left: 20px;
            }
            .img__aleyflor{
                @include sizes(300px, 360px );
                padding-right:10px ;
                padding-left: 20px;
            }
            .img__ceats{
                @include sizes(300px, 202px);
                padding-right:10px ;
                padding-left: 20px;
            }
        }
    }
}