.navbar{
    width: 100%;
    height: 71px;
    background: $HFgradient;
    padding: 0;
    .container-fluid{
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 0;
        .navbar-brand{
            padding: 15px;
        }
        h1{
            font-size: 30px;
            text-decoration: none;
            color: $Wcolor;
        }
        .h__img{
            border-radius: 50px;
            @include sizes(30px, 30px);
            margin-top: 10px;
            margin-right: 40px;
        }
        .navbar-toggler{
            background-color: $Wcolor;
        }
        .navbar-toggler-icon{
            background-color: $Wcolor; 
            }
        .div__nav{
            .navbar-nav{
                list-style-type: none;
                .nav-item{
                    display: inline-block;
                    padding-right: 120px;
                    .nav-link{
                    text-decoration: none;
                    color: $Wcolor;
                    padding: 10px;
                    transition:none;
                    &:hover{
                        color: $Wcolor;
                        background: $Rcolor;
                        border-radius: 50px;
                        padding: 10px;
                        
                    }
                    }
                }
            }
        }
    }
}
