.main-nosotros{
    @include sizes(100%, 100vh);
    background: $Ngradient;
    .section-nos{
        @extend .gridcenter;
        grid-template-columns: auto auto;
        .div-nos{
            .section__img{
                @include sizes(800px, 600px);
                margin-left: 25px;
                margin-top: 80px;
                margin-right: 50px;
                border-radius: 10px;
                box-shadow: 10px 10px 10px 0 rgb(17, 18, 44);
                align-self: center;
            }
            .section__p{
                font-size: 26px;
                font-style:italic;
                color: rgb(17, 4, 4);
                align-self: center;
                text-align: start;
            }
        }
    }
}

