@media screen and (max-width:991px){
    //header
.navbar{
    .container-fluid{
        justify-content: space-around;
        .h__img{
            margin-right: 600px;
        }
        .div__nav{
            z-index: 10;
            .navbar-nav{
                margin-top: -10px;
                background: $HFgradient;
            }
        }
    }
}
//nosotros
    .main-nosotros{
        .section-nos{
            grid-template-columns: auto;
            grid-row: auto auto;
            .div-nos{
                .section__img{
                    margin-top: 10px;
                    width: 600px;
                    height: 400px;
                }
                .section__p{
                    margin-left: 20px;
                    margin-top: 30px;
                    font-size: 22px;
                }
            }
        }
    }
//eventos
.section__div{
    .img__ceats,.img__evento,.img__cumple,.img__aleyflor{
        margin-bottom: 10px;
    }
}
// contacto
.div-contact{
    .form{
        .form__h2{
            font-size: 26px;
        }
        .form__input{
            input, textarea{
                font-size: 10px;
                padding: 2px;
            }
            label {
                font-size: 14px;
            }
        }
    }
}
}
@media screen and (max-width:480px){
//header
.navbar{
    .container-fluid{
        .h__img{
            margin: 0;
        }
    }
}
//nosotros
.main-nosotros{
    .section-nos{
        .div-nos{
            .section__img{
                margin-top: 30px;
                width: 400px;
                height: 300px;
            }
            .section__p{
                margin-top: 50px;
                font-size: 22px;
            }
        }
    }
}
//evento
.main{
    .section{
        
        .section__div{
            display: grid;
            .img__evento,.img__ceats{
                margin: 5px 0;
            }
        }
    }
}
//equipo
.main-equipo{
    .section{
        grid-template-columns: 300px;
        .card{
            height: 560px;
        }
    }
}
// contacto
.main-contacto{
    .div-contact{
        width: 80%;
}
}
}
