$HFgradient:linear-gradient(to top, #000000, #434343); 
$Ngradient:linear-gradient(to top, #efefbb, #d4d3dd);
$Cgradient: linear-gradient(to bottom, #4b79a1, #283e51);
$Egradient:linear-gradient(to bottom, #c9d6ff, #e2e2e2);
$Wcolor: white;
$Rcolor: red;
